* {
   box-sizing: border-box;
}

nav {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction:row;
  justify-content: center;
  text-transform: uppercase;
  color: ##8197A8;
}
/* //TODO: fix nav spacing later// */
nav a {
  text-decoration: none;
  margin-top: 2em;
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction:row;
  justify-content: center;
  color: ##8197A8;

}

h1 {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  color: #47545D;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: #47545D;
  font-family: 'Raleway', sans-serif;
}

p {
  color: #7D878D;
}




footer {
  background-color: azure;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

footer p i {
  padding-left: 2px;
  padding-right: 2px;
}

/* Requirements
Use flexbox in your CSS to achieve a two-column layout.
Use inline-block to align elements next to one another (e.g., anchors in the nav).
Add a background image to the header.
Use FontAwesome icons for Facebook, Twitter, and Instagram in the footer.
Use indentation in your HTML and CSS files to make your code readable.
Use HTML and CSS validators to check for errors before submitting.
Include browser prefixes to make sure that newer CSS properties render consistently in different browsers.
Bonus Tasks
Google and implement Google Fonts (Fonts are specified in bonus mockup below).
Make the nav "sticky" (fixed) as the user scrolls.
Add a hover effect to the links and buttons using pseudo-classes. */
