* {
   box-sizing: border-box;
}

nav {
text-align: center;
text-transform: uppercase;
}

nav a {
text-decoration:none;
margin-top: 2em;
padding-left: 3em;
padding-right: 3em;
margin-bottom: 3em;
}

figure {
  position: relative;
  width: 100%
  margin: auto;
}

img.expand {
  width: 100%;
}

figcaption {
  position: absolute;
  top: 50%;
  right: 40%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;




  }
